
{% include "app/base.html" %}
{% load static %}
{% block head %}
    <title>Watch</title>
    <link rel="stylesheet" href="{% static "app/css/home.css" %}">
{% endblock head %}
{% block contant %}
    <div class="container">
        <header>
            <h1>Watch</h1>
            {% include "app/header.html" %}
        </header>
        {% include "app/navbar.html" %}
        <div class="product-grid">
            {% for i in category %}
                <div class="product-card">
                    <a href="{% url 'detalis' ref=i.ref %}">
                        <img src="{{i.image.url}}" alt="Nike" class="product-image" loading="lazy">
                        <div class="product-info">
                            <h3 class="product-name">{{i.name}}</h3>
                            <p class="product-price">${{i.price}}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% include "app/footer.html" %}
    </div>
    <script>
        document.querySelectorAll('.categories button').forEach(button => {
            button.addEventListener('click', function() {
                document.querySelector('.categories button.active').classList.remove('active');
                this.classList.add('active');
            });
        });
    </script>
{% endblock contant %}